body{
    background-image: url('background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }

 .centraliza{
        margin: 0;
        position: absolute;
        top: 45%;
        left: 40%;
}

.container{
    width: 100%;
}

#divNick{
    width: 600px;
    position: absolute;
    top: 40%;
    left: 35%;
}

#btn{
    position: absolute;
    top :32%;
    left: 95%;
}

#nick{
    width: 70%;
    position: absolute;
    top :35%;
    left: 20%;
}

#textoNick{
    font-size: 300%;
    color: white;  
}