body{
    background-image: url('../imagens/background3.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
  }

#container{
    width: 100%;
}

#navBar{
    border-bottom: 2px solid #ffd740;
}

#cardGod{
    background-color: rgba(255,255,255,0.3)
}

.opaco{
    background-color: rgba(255,255,255,0.2)
}

.iconGod{
    width: 75px;
    height: 175px;
}

#slide-out{
    border-right: 2px solid #ffd740;
}

.texto{
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

.subtitulo{
    font-family: 'Righteous', cursive;
    font-size: 28px;
}

.titulo{
    font-family: 'Righteous', cursive;
}