body{
    background-color: #b39ddb;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
  }

#container{
    width: 100%;
}

#cardGod{
    background-color: rgba(255,255,255,0.3)
}

.opaco{
    background-color: rgba(255,255,255,0.2)
}

.textoPurple{
    color: #311b92;
}

.iconGod{
    width: 75px;
    height: 175px;
}

#slide-out{
    border-right: 2px solid #ffd740;
}

.texto{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.subtitulo{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.titulo{
    font-family: 'Roboto', sans-serif;
}