body{
    background-image: url('../imagens/background2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
  }

#navBar{
    border-bottom: 2px solid #ffd740;
}

.texto{
    font-family: 'Righteous', cursive;
    font-size: 20px;
    word-spacing:6px;
}

.subtitulo{
    font-family: 'Righteous', cursive;
    font-size: 28px;
}

.titulo{
    font-family: 'Righteous', cursive;
}