<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">	
    <title>Recanto do Lacaio</title>
</head>
<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/deus.css')}}">
    <link href="{{url_for('static', filename='css/icon.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet"> 

    
    <nav>
        <div class="nav-wrapper indigo darken-4" id="navBar">
            <a class="brand-logo"><img class="responsive-img" src="{{url_for('static', filename='imagens/smite.png')}}" width="180"></a>
            <ul id="nav-mobile" class="right">
                <li><a href="/deuses"><i class="material-icons amber-text">subdirectory_arrow_left</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 class="amber-text center-align titulo">{{god.Name}}</h3>
                <div class="card opaco">
                    <div class ="row">
                        <div class="col s3">
                            <div class="card-image">
                                <img src="{{god['godCard_URL']}}">
                            </div>
                        </div>
                        <div class="col s7">
                            <div class="card-content center-align contentGod">
                                <span class='amber-text labelGod texto'>{{god.Lore}}</span>
                            </div>
                        </div>
                    </div>
                </div>
        <h3 class="amber-text center-align titulo">Habilidades</h3>
        <div class="card opaco">
            <div class ="row">
                <div class="col s2">
                    <div class="card-image opaco">
                        <img src="{{god['Ability_1']['URL']}}">
                    </div>
                </div>
                <div class="col s10">
                    <div class="card-content left-align">
                        <span class = "center-align amber-text subtitulo">{{god['Ability1']}}</span><br>
                        <span class='amber-text texto'>{{god['Ability_1']['Description']['itemDescription']['description']}}</span>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col s2">
                    <div class="card-image">
                        <img src="{{god['Ability_2']['URL']}}">
                    </div>
                </div>
                <div class="col s10">
                    <div class="card-content left-align">
                        <span class = "center-align amber-text subtitulo">{{god['Ability2']}}</span><br>
                        <span class='amber-text texto'>{{god['Ability_2']['Description']['itemDescription']['description']}}</span>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col s2">
                    <div class="card-image">
                        <img src="{{god['Ability_3']['URL']}}">
                    </div>
                </div>
                <div class="col s10">
                    <div class="card-content left-align">
                        <span class = "center-align amber-text subtitulo">{{god['Ability3']}}</span><br>
                        <span class='amber-text texto'>{{god['Ability_3']['Description']['itemDescription']['description']}} ( Passiva)</span>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col s2">
                    <div class="card-image">
                        <img src="{{god['Ability_4']['URL']}}">
                    </div>
                </div>
                <div class="col s10">
                    <div class="card-content left-align">
                        <span class = "center-align amber-text subtitulo">{{god['Ability4']}}</span><br>
                        <span class='amber-text texto'>{{god['Ability_4']['Description']['itemDescription']['description']}}</span>
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col s2">
                    <div class="card-image">
                        <img src="{{god['Ability_5']['URL']}}">
                    </div>
                </div>
                <div class="col s10">
                    <div class="card-content left-align">
                        <span class = "center-align amber-text subtitulo">{{god['Ability5']}} ( Passiva)</span><br>
                        <span class='amber-text texto'>{{god['Ability_5']['Description']['itemDescription']['description']}}</span>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="amber-text center-align titulo">Dicas</h3>
    </div>


    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/jquery-2.1.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/materialize.js')}}"></script>
</body>
</html>