<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">	
		<title>Recanto do Lacaio</title>
    </head>
    <body>
        <link rel="stylesheet" href="../static/css/materialize.css">
        <link rel="stylesheet" href="../static/css/index.css">
            <div class="container center-align">    
                <div class="row" id="divNick">
                        <div class="col s12">
                            <input id="nick" placeholder=" Nome dentro do jogo." class="materialize-textarea white"/>
                        </div>
                        <div class="col s12 center-align"> 
                                <button id="btn" class="waves-effect waves-light btn-large center amber accent-2 blue-text" type="submit" name="action">Buscar</button>
                        </div>
                        <div class="col s12 center-align"> 
                            <div class="preloader-wrapper big active">
                                <div id="carregando" class="spinner-layer spinner-yellow-only hide">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                        
                </div>                          
            </div>
        <script type="text/javascript" src="../static/js/vendor/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/materialize.min.js"></script>
        <script type="text/javascript" src="../static/js/vendor/materialize.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </body>
</html>