<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">	
    <title>Recanto do Lacaio</title>
</head>
<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}">
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link href="{{url_for('static', filename='css/icon.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <nav>
        <div class="nav-wrapper deep-purple darken-4" id="navBar">
      
            <ul id="nav-mobile" class="left">
                <li><a href="/"><span class="subtitulo">Home</span></a></li>
            </ul>
            <ul id="nav-mobile" class="right">
                <li><a href="/deuses"><span class="subtitulo">Deuses</span></a></li>
                <li><a href="/"><i class="material-icons">subdirectory_arrow_left</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container texto">
            <div class="white card textoPurple">
                <div class="row">
                    {% for p in players %}
                            <div class="card-image">
                                    <img src="{{url_for('static', filename='imagens/background3m1.jpg')}}">
                                    <span class="card-title"><spam class="subtitulo">Perfil</spam></span>
                            </div>
                            <div class="col s6">
                                <p class="subtitulo" ><b>Nome:</b> {{p.Name}}</p>
                                <p class="subtitulo"><b>Vitórias:</b> {{p.Wins}}</p>
                                <p><spsan class="subtitulo"><b>Maestrias:</b></span> {{p.MasteryLevel}}</p>
                            </div>
                            <div class="col s6">
                                <p class="subtitulo"><b>Level:</b> {{p['Level']}}</p>
                                <p class="subtitulo"><b>Derrotas:</b> {{p.Losses}}</p>
                                <p class="subtitulo"></pclass><b>Vitórias (%):</b> {{ "%.1f"|format(p.Wins * 100 / (p.Wins+p.Losses))}} %</p>
                            </div>
                            <div class="col s12">
                                <p class = "subtitulo"><b>Conquista:</b> {{ elo[p.Tier_Conquest|string] }}</p>
                                <p class = "subtitulo"><b>Justa:</b> {{ elo[p.Tier_Joust|string] }}</p>
                                <p class = "subtitulo"><b>Duelo:</b> {{ elo[p.Tier_Duel|string] }}</p>
                            </div>
                        </div>
                        {% endfor %}
            {% if(dica|length != 0) %}
                <div class="card-image">
                        <img src="{{url_for('static', filename='imagens/background3m2.jpg')}}">
                        <span class="card-title"><spam class="subtitulo">Dicas</spam></span>
                </div>
                <ul class="collapsible">
                    {% for dado in dica %}
                    <li>
                    <div class="collapsible-header deep-purple darken-4 white-text subtitulo">{{dado['titulo']}}</div>
                    <div class="collapsible-body white textoPurple">
                        <div class="row">
                            <div class="col s12">
                                <span>{{dado['texto']}}</span>
                                <br>
                            </div>
                            {% if dado['video'] != '' %}
                            <div id="video" class="col s12 center-align">
                                <iframe width="80%" height="350px" src="{{dado['video']}}" frameborder="0" encrypted-media" allowfullscreen></iframe>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
    </div>
    <script type="text/javascript" src="../static/js/vendor/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/materialize.min.js"></script>
    <script type="text/javascript" src="../static/js/vendor/materialize.js"></script>
    <script type="text/javascript" src="../static/js/perfil.js"></script>
</body>
</html>